.describeYourSelfSection {
  opacity: 1;
}

.describeYourSelfSection .ctaWrapper {
  display: flex;
  justify-content: flex-start;
}

.describeYourSelfSection .ctaWrapper .cta {
  margin-right: 15px;
}

.checkBoxInput {
  margin-bottom: 5px;
}

.skillsCtn {
  margin-bottom: 20px;
}

.inputWrapper {
  width: 90%;
}

.fileInput {
  margin-bottom: 20px;
}

.applicantItem {
  margin-bottom: 10px;
}