[data-theme="dark"] {
  --border-color: #ffffff;
  --bg-color: #333333;
}

/* Dark mode styles */
[data-theme="light"] {
  --border-color: #333333;
  --bg-color: #ffffff;
}

.filterCtn {
    display: flex;
}

.filterCtn  

.filterItemPill {
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.filterHeading {
    margin-bottom: 5px;
}

.filterModal {
  position: absolute;
  background: var(--bg-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
}

.filterModalContent {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}